div#swal2-html-container.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 1em 1.6em .3em;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
}
